#footer {
	background-color: aqua;
	padding-top: 150px;
	margin-top: 50px;
	text-align: center;
	padding-bottom: 150px;
}

#mainContainer {
	margin-top:50px;
}

#header-nav-bar {
	font-color: #3B5998;
}

.clearFloat {
	 clear: both;
}

#printButton {
	float: right;
}

.extraSpace {
	padding: 10px 10px 10px 10px;
}
