#footer {
	background-color: #0275d8;
	padding-top: 150px;
	margin-top: 50px;
	text-align: center;
	padding-bottom: 150px;
} 

#mainContainer {
	margin-top:50px;
}

.clearFloat {
	 clear: both;
}

#printButton {
	float: right;
}

.extraSpace {
	padding: 10px 10px 10px 10px;
}

.chart {
	float: left;
}

#footerText {
	color: white;
}
